<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgy.aup.dao.BaseAdminMapper">
  <resultMap id="BaseResultMap" type="com.wgy.aup.dto.BaseAdmin">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="admin_code" jdbcType="BIGINT" property="adminCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="img_file" jdbcType="VARCHAR" property="imgFile" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_admin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wgy.aup.dto.BaseAdmin">
    insert into base_admin (id, admin_code, name, 
      age, address, email, 
      phone, number, password, 
      img_file, status, is_deleted)
    values (#{id,jdbcType=BIGINT}, #{adminCode,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{imgFile,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{isDeleted,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wgy.aup.dto.BaseAdmin">
    update base_admin
    set admin_code = #{adminCode,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      img_file = #{imgFile,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, admin_code, name, age, address, email, phone, number, password, img_file, 
    status, is_deleted
    from base_admin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, admin_code, name, age, address, email, phone, number, password, img_file, 
    status, is_deleted
    from base_admin
  </select>
</mapper>