<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgy.aup.model.dao.BaseCourseMapper">
  <resultMap id="BaseResultMap" type="com.wgy.aup.model.dto.BaseCourse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_code" jdbcType="BIGINT" property="courseCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="teacher_code" jdbcType="BIGINT" property="teacherCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wgy.aup.model.dto.BaseCourse">
    insert into base_course (id, course_code, name, 
      start_time, end_time, state, 
      is_deleted, teacher_code)
    values (#{id,jdbcType=BIGINT}, #{courseCode,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{state,jdbcType=TINYINT}, 
      #{isDeleted,jdbcType=BIT}, #{teacherCode,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wgy.aup.model.dto.BaseCourse">
    update base_course
    set course_code = #{courseCode,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      teacher_code = #{teacherCode,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, course_code, name, start_time, end_time, state, is_deleted, teacher_code
    from base_course
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, course_code, name, start_time, end_time, state, is_deleted, teacher_code
    from base_course
  </select>
</mapper>