<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgy.aup.dao.BaseClassMapper">
  <resultMap id="BaseResultMap" type="com.wgy.aup.dto.BaseClass">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="class_code" jdbcType="BIGINT" property="classCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="enable_state" jdbcType="BIT" property="enableState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_class
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wgy.aup.dto.BaseClass">
    insert into base_class (id, class_code, name, 
      is_deleted, enable_state, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{classCode,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=BIT}, #{enableState,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wgy.aup.dto.BaseClass">
    update base_class
    set class_code = #{classCode,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      enable_state = #{enableState,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, class_code, name, is_deleted, enable_state, create_time, update_time
    from base_class
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, class_code, name, is_deleted, enable_state, create_time, update_time
    from base_class
  </select>
</mapper>