<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgy.aup.model.dao.BaseGradeMapper">
  <resultMap id="BaseResultMap" type="com.wgy.aup.model.dto.BaseGrade">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="grade_code" jdbcType="BIGINT" property="gradeCode" />
    <result column="student_code" jdbcType="BIGINT" property="studentCode" />
    <result column="grade_value" jdbcType="REAL" property="gradeValue" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="course_code" jdbcType="BIGINT" property="courseCode" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_grade
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wgy.aup.model.dto.BaseGrade">
    insert into base_grade (id, grade_code, student_code, 
      grade_value, record_time, course_code, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{gradeCode,jdbcType=BIGINT}, #{studentCode,jdbcType=BIGINT}, 
      #{gradeValue,jdbcType=REAL}, #{recordTime,jdbcType=TIMESTAMP}, #{courseCode,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wgy.aup.model.dto.BaseGrade">
    update base_grade
    set grade_code = #{gradeCode,jdbcType=BIGINT},
      student_code = #{studentCode,jdbcType=BIGINT},
      grade_value = #{gradeValue,jdbcType=REAL},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      course_code = #{courseCode,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, grade_code, student_code, grade_value, record_time, course_code, update_time
    from base_grade
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, grade_code, student_code, grade_value, record_time, course_code, update_time
    from base_grade
  </select>
</mapper>