<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgy.aup.dao.BaseLogMapper">
  <resultMap id="BaseResultMap" type="com.wgy.aup.dto.BaseLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="log_code" jdbcType="BIGINT" property="logCode" />
    <result column="log_context" jdbcType="VARCHAR" property="logContext" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wgy.aup.dto.BaseLog">
    insert into base_log (id, log_code, log_context, 
      name, create_time, is_deleted, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{logCode,jdbcType=BIGINT}, #{logContext,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wgy.aup.dto.BaseLog">
    update base_log
    set log_code = #{logCode,jdbcType=BIGINT},
      log_context = #{logContext,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, log_code, log_context, name, create_time, is_deleted, update_time
    from base_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, log_code, log_context, name, create_time, is_deleted, update_time
    from base_log
  </select>
</mapper>