<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgy.aup.model.dao.BaseMenuMapper">
  <resultMap id="BaseResultMap" type="com.wgy.aup.model.dto.BaseMenu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="BIGINT" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="node_type" jdbcType="TINYINT" property="nodeType" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wgy.aup.model.dto.BaseMenu">
    insert into base_menu (id, code, name, 
      parent_id, node_type, icon_url, 
      level, is_deleted, sort, 
      link_url)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT}, #{nodeType,jdbcType=TINYINT}, #{iconUrl,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{isDeleted,jdbcType=BIT}, #{sort,jdbcType=INTEGER}, 
      #{linkUrl,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wgy.aup.model.dto.BaseMenu">
    update base_menu
    set code = #{code,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      node_type = #{nodeType,jdbcType=TINYINT},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      sort = #{sort,jdbcType=INTEGER},
      link_url = #{linkUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, code, name, parent_id, node_type, icon_url, level, is_deleted, sort, link_url
    from base_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, code, name, parent_id, node_type, icon_url, level, is_deleted, sort, link_url
    from base_menu
  </select>
</mapper>